body {

  background-color: red;

  .name{
color; blue

  }.
  
  question{    
h1 {
  color: purple;
  font-size: 1rem;
  text-decoration: underline;
}
    border-style: dashed;
    border-color: black;
    color: rgb(124, 76, 89);
